
@font-face {
    font-family: 'CaeciliaBold';
    src: url('../../fonts/CaeciliaLTPro75Bold.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CaeciliaRoman';
    src: url('../../fonts/CaeciliaLTPro55Roman.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CaeciliaLight';
    src: url('../../fonts/CaeciliaLTPro45Light.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.title-mentoras{
    color: #763A9E;
    padding-top: 40px;
    font-family: 'CaeciliaBold';
    font-size: 25px;
}
.subtitle-mentoras {
    font-family: 'CaeciliaRoman';
    font-size: 18px;
}
.formacao {
    font-family: 'CaeciliaLight';
    font-size: 16px;
}
.mentoras {
    background-color: #F0F0F0;
}
.img-mentoras{
    border-radius: 100%;
}
.cor-icons{
    text-decoration: none !important;
    color: #000000;
}