
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.title-mentoras{
    color: #351B69;
    font-family: 'Roboto';
    padding-top: 40px;
}

.subtitulo-mentoras{
    color: #0000;
    font-weight: 'regular';
    font-family: 'Roboto';
}
.mentoras {
    background-color: #F0F0F0;
}
.img-mentoras{
    border-radius: 100%;
}
.cor-icons{
    text-decoration: none !important;
    color: #351B69;
}
.cor-icons:hover{
    color: #FF0C9E;
}