
.icons-div{
    display: flex;
    align-content: center;
    height: 100%;
    flex-wrap: wrap;
    padding-right: 60px;
}

.icons{margin-bottom: 15px;}

.cor-icons{color: #FF89BC;}

.cor-icons:hover{color: #e73d87;}
