@font-face {
    font-family: 'CaeciliaBold';
    src: url('../../fonts/CaeciliaLTPro75Bold.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CaeciliaRoman';
    src: url('../../fonts/CaeciliaLTPro55Roman.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.slide{
    background-color: #763A9E;
    padding: 20px;
    text-align: center;
}
.title-slide{
    font-family: 'CaeciliaBold';
    color: #ffffff;
    font-size: 80px;
}
.subtitle-slide{
    font-family: 'CaeciliaLight';
    color: #ffffff;
    font-size: 40px;
}
.noticias{
    height: 100px;
    margin-top: -50px;
    width: 100%;
}
.div-noticias{
    text-align: start;
    margin-top: 10px;
}
.btn-noticias{
    background-color: #763A9E!important;
    color: #ffff!important;
    font-family: 'CaeciliaBold';
}
.btn-noticias:hover{
    background-color: #B388BF!important;
}
.title-noticias{
    color: #fff;
    text-align: center;
    padding: 50px;
}