@font-face {
    font-family: 'CaeciliaLight';
    src: url('../../fonts/CaeciliaLTPro45Light.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.footer-copyright{
    padding: 20px;
    color: #000000;
    font-family: 'CaeciliaLight';
    font-size: 16px;
}