@font-face {
    font-family: 'CaeciliaBold';
    src: url('../../fonts/CaeciliaLTPro75Bold.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.title-apoio{
    color: #763A9E;
    font-family: 'CaeciliaBold';
    font-size: 25px;
}