
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.title-programacao{
    color: #351B69;
    font-family: 'Roboto';
    padding-top: 40px;
}

.subtitulo-programacao{
    color: #0000;
    /* font-weight: bolder; */
    font-family: 'Roboto';
}
.programacao{
    background-color: #F0F0F0;
}